<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        html, body {
            height: 100%;
        }
    </style>
</head>
<body>
<div class="jumbotron">
    <nav id="navbar" class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" style="padding: 7px 15px;">
                    <img src="../../../assets/images/logo.png">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="main.html">首页</a></li>
                    <li><a href="http://www.runoob.com/jquery/jquery-tutorial.html">jQuery</a></li>
                    <li><a href="https://v3.bootcss.com">Bootstrap3</a></li>
                    <li><a href="https://www.npmjs.com.cn">npm</a></li>
                    <li><a href="https://webpack.js.org/concepts/">webpack</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <p>框架构建实例</p>
    <h1>Hello, world!</h1>
    <p><small>不用每次在开始一个项目都要折腾一遍环境问题</small></p>
</div>
<div id="panel"></div>
<div id="bottom">
    <h3 class="text-primary">TuoQun Technology</h3>
</div>
</body>
</html>